.monsters-figure{
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    border-bottom: 2px solid var(--second-background-color);
    padding: 1.5rem;
}
.monsters-figure:hover{
    cursor: pointer;
}

.monsters-icon{
    width: 54px;
    margin-right: 1rem;
}


.monsters-arrow{
    margin-left: auto;
    font-weight: 700;
    transition: transform 0.5s ease-in-out;
    transform: rotate(-90deg);
}
.monsters-arrow.rotate{
    transform: rotate(90deg);
}

.monster-description{
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    max-height: 0;

    transition: all 0.5s ease-in;
    transform: translateY(-1%);
}
.monster-description-notes{
    font-family: 'Roboto', sans-serif;
}
.monster-description.show-description{
    visibility: visible;
    max-height: 5000px;
    opacity: 1;
    transform: translateX(0);
}
.monster-description>*{
    margin: 0;
    padding: 1rem;
    text-align: justify;
}
.span-element-icon>img{
    width: 25px;
}

.monster-info-tags{
    font-weight: 700;
}
.monster-list{
    list-style: none;
    margin:0;
    padding: 0;
}
.monster-drops{
    padding: 0;
    padding-top: 0;
    padding-bottom: 0;
    
}
.monster-drops :not(:first-child){
    padding:0 1.5rem;
}


.monster-drops-collapse{
    padding: 0 1rem;
    display: flex;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    
}

.monster-drops-collapse:hover{
    cursor: pointer;
}


.monster-drops-container{
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    transition: all 0.5s ease-in-out;
    transform: translateY(-1%);
}
.monster-drops-container.show-description{
    padding-bottom: 1rem;
}


.monster-drops-table{
    margin: 0 auto;
    border: 2px solid black;
}

.monster-drops-table-caption{
    font-weight: 600;
    font-size: 20px;
}

.monster-drops-table-item , .monster-drops-table-header{
    padding: 0.8rem 0;
    text-align: center;
}

.hunt-tips-container{
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    transition: all 0.5s ease-in-out;
    transform: translateY(-1%);
}

.show-description{
    visibility: visible;
    max-height: 2000px;
    opacity: 1;
    transform: translateX(0);
    
}

