.app-container{
    overflow: hidden;
    display: grid;
    height: 100svh;
    width: 100%;
    grid-template-rows: 10% 82% 8%;
    grid-template-areas: 
    "Header"
    "MainContent"
    "Footer";
    
}
.main-container{
    grid-area: MainContent;
    overflow: scroll;

}

h3 {
    color: var(--alert-color);
}


 @media (min-width:800px) { /* version deskopt */
    
    .app-container{
        width: 100vw;
        height: 100vh;
        grid-template-columns: 20% 80%;
        grid-template-areas: 
        "Header Header"
        "sideBar MainContent"
        "Footer Footer";
    }
    
}


