.side-menu {
    grid-area: sideBar;
    backdrop-filter: blur(2px);
    padding: 2rem 0;
    box-shadow: 4px 0 20px rgba(0, 0, 0, 0.2);
}

.side-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    margin: none;
}

.side-list-item {
    display: flex;
    align-items: center;
    margin: none;
    font-weight: bold;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    border-left: 3px solid transparent;
    font-size: 1.1rem;
    text-decoration: none;
    color: inherit;
}

.side-list-item:hover {
    background: rgba(79, 209, 199, 0.1);
    border-left-color: #4fd1c7;
    transform: translateX(5px);
}

/* Estado activo para el enlace actual */
.side-list-item.active {
    background: rgba(79, 209, 199, 0.2);
    border-left-color: #4fd1c7;
    color: #4fd1c6d8;
}

.side-list img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: 0.5rem;
}

@media(max-width:800px) {
    .side-menu {
        transition: transform 0.3s ease-in-out;
        transform: translateX(-100%);
    }

    .side-menu.show {
        background: linear-gradient(to right, var(--sideBar-background-color-light) 40%, rgba(0, 0, 0, 0.5) 41%);
        grid-column: 1/ -1;
        grid-row: 2 / -1;
        z-index: 99;
        width: 100svw;
        border: none;
        transform: translateX(0);
        transition: transform 0.3s ease-in-out;
    }
    
    .side-list-item:hover {
        background: linear-gradient(to right, rgb(79, 209, 199, 0.1) 40%, rgba(0, 0, 0, 0) 41%);
    }

    .side-list-item.active {
        background: linear-gradient(to right, rgb(79, 209, 199, 0.2) 40%, rgba(0, 0, 0, 0) 41%);
    }

    .side-list-item-about>* {
        width: 40%;
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow:ellipsis;
    }
}