
header{
    overflow: hidden;
    width: 100vw;
    grid-area: Header;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-text-color);
    position: static;
}

h2{
    color: var(--main-interactive-color);
    margin: 1rem;
    text-align: center;
}

@media(min-width:800px){
    .panel-btn{
        display: none;
    }
}
@media(max-width:800px){
.panel-btn{
    z-index: 100;
}

}

