footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    grid-area: Footer;
    background-color: var(--main-text-color);
    color: var(--main-interactive-color);
}