.app-container{
    overflow: hidden;
    display: grid;
    height: 100svh;
    width: 100%;
    grid-template-rows: 12% 80% 8%;
    grid-template-areas: 
    "Header"
    "MainContent"
    "Footer";
    
}
 @media (min-width:800px) { /* version deskopt */
    
    .app-container{
        width: 100vw;
        height: 100vh;
        grid-template-columns: 20% 80%;
        grid-template-areas: 
        "Header Header"
        "sideBar MainContent"
        "Footer Footer";
    }
    
}

